__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.build/
dist/
.eggs/

.venv/
venv/
env/
mdps_venv/

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db
~$*

*.log
logs/
outputs/

data/
!data/data_BTC_USDT_1h.csv
